#colorSquare {
  width: 200px;
  height: 200px;
  background-color: #ec01ff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 18px;
  color: #000000;
}